<footer class='ShivShambho_eShop-footer'>
  <div class='ShivShambho_eShop-footer-content'>
    <div class='ShivShambho_eShop-footer-row'>
      <img src='images/logo-footer.svg' class='logo logo-footer' />
      <p>© AdventureWorks</p>
    </div>
  </div>
</footer>